@import "mixin";
@import "variable";

.explore_btn {
    @include flex(center, center, row);
    gap: 0.5rem;
    background-color: $accent;
    border: none;
    color: white;
    padding: 0.6rem 1.6rem;
    border-radius: 50rem;
    font-family: $font;
    transition: all 0.3s;
    font-weight: 600;

    &:hover {
        background-color: black;
        cursor: pointer;
        .img {
            animation: 1s infinite alternate img;
        }
    }
}


@keyframes img {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}