@import "mixin";
@import "variable";

.main {
    @include flex(space-between, center, row);
    padding: 0.7rem;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;

    h1 {
        color: $accent;
    }

    .one_one {
        @include flex(center, center, row);
        gap: 0.8rem
    }

    .one {
        @include flex(center, center, row);
        gap: 3rem;

        ul {
            @include flex(center, center, row);
            gap: 2rem;
            list-style: none;
            font-weight: 700;

            li {
                padding-bottom: 3px;
                transition: all 0.3s;

                a {
                    border-bottom: 2px solid black;
                    color: black;
                    font-weight: 700;

                    &:hover {
                        cursor: pointer;
                        color: $accent;
                    }
                }

            }
        }
    }
}

.menu {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: $accent;
    transition: all 1s;
    padding: 2rem;

    .top {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .MenuOne {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;

            li {
                margin-bottom: 3rem;

                a {
                    font-weight: 600;
                    font-size: 2rem;
                }
            }
        }
    }
}